{
  "sourceMaps": "both",
  "presets": [
    "@babel/env"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": [
        "source-map-support"
      ],
      "ignore": [
        "**/__tests__/**"
      ]
    }
  }
}